{% extends 'base.html' %}

{% block content %}
<h2 class="mb-4">Book a Room</h2>

<form method="POST" class="card p-4 shadow-sm">
  {% csrf_token %}

  <div class="mb-3">
    <label class="form-label">Room</label>
    <select name="room" class="form-select">
      {% for room in rooms %}
        <option value="{{ room.id }}">{{ room.room_name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label>Date</label>
    <input type="date" name="date" class="form-control">
  </div>

  <div class="mb-3">
    <label>Start Time</label>
    <input type="time" name="start" class="form-control">
  </div>

  <div class="mb-3">
    <label>End Time</label>
    <input type="time" name="end" class="form-control">
  </div>

  <button class="btn btn-success">Confirm Booking</button>
</form>

{% endblock %}